* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text-about {
    font-size: x-small;
}

.text-location {
    color: rgb(196, 248, 44);
}

.social-media {
    width: 80%;
    size: 2rem;
}